<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Chala Shikuya</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/regilog.css') }}">
</head>
<body>
    <div class="main">
      <div class="container a-container" id="a-container">
        <form class="form" id="a-form" method="POST" action="">
          {{form.hidden_tag()}}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <div class="button" style="width: 250px;height: 100px;padding:20px"><span>{{ message }}</span></div>
                {% endfor %}
           {% endif %}
          {% endwith %}
          <h2 class="form_title title">Forgot Password</h2>
          {{form.email(class="form__input",placeholder="Email",id="email")}} 
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <div id="error_message" style="background-color:white; color:red; margin-bottom:20px;"><span>{{ error }}</span></div>
              {% endfor %}
            {% endif %}
          {{form.submit(class="form__button button submit",value="SUBMIT",id="rsubmit")}}  
        </form>
      </div>
      <div class="switch" id="switch-cnt">
        <div class="switch__container " id="switch-c1">
          <img src="{{url_for('static',filename='images/forgot.jpg')}}" style="width: 860px;">
        </div>
      </div>
    </div>

</body>
</html>
