{% if current_user.is_authenticated %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Chala Shikuya</title>
      <link rel="preconnect" href="https://fonts.gstatic.com" />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet"
      />
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tut1.css') }}">

      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </head>
    <body>
      <main>
          <div style="width: 100%;">
              <div style="width: 100%; ">
              <div style="width: 100%;">
                  <nav class="navbar  navbar-expand-lg navbar-dark tinav ">
                    <a class="navbar-brand" href="">Chala Shikuya</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hello {{ current_user.username }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Your account</a>
                            <a class="dropdown-item" href="#">Your status</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#footer">Contact us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  </div>
                  
                      <section class="glass row">
                          
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/49.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">१</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/50.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">२</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/51.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">३</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/52.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">४</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/53.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">५</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/54.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">६</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/55.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">७</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/56.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">८</h1>
                              </div>
                              
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                          <div class="card">
                              <video src="{{url_for('static',filename='videos/57.mp4')}}" controls></video>
                              <div class="card-info">
                                <h1 style="text-align: center;">९</h1>
                              </div>
                              
                            </div>
                        </div>
                             
                      </section>
                  
                  
          </div>
        
      </main>
      
    </body>
  </html>
{%else%}
  {{redirect(url_for('index')) }}
{%endif%}